[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
test = "test"
script = "script"
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
fs_permissions = [{ access = "write", path = "./out" }]

[rpc_endpoints]
local = "http://localhost:8545"
