# Rust
target/
**/*.rs.bk

# IntelliJ
.idea/
*.iml
*.iws
out/

# Visual Studio Code
.vscode/
*.code-workspace

# Other
*.log
*.tmp
.DS_Store
*.csv
!simulation_results_nodes_BarabasiAlbert_100000.csv
!simulation_results_nodes_RandomGraph_100000.csv